<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Add styles if needed */
    </style>
  </head>
  <body>
    <p>Hello,</p>
    <p>
      We are pleased to inform you that an account has been successfully created
      for you in the Nova Platinum Ticketing System.
    </p>
    <p>
      To complete your account setup and set your password, please click the
      secure link below <u>(valid for 2 days)</u>:
    </p>
    <p>
      Username:
      <strong
        ><a href="#" style="text-decoration: none; color: #000000" name="myname"
          >{{email}}</a
        ></strong
      >
      <br />

      Password:
      <a href="{{secureLink}}" target="_blank" rel="noopener noreferrer">
        Set your password
      </a>
    </p>
    <p>
      For security purposes, this link is valid for a limited time only. If you
      have not set your password within the allowed timeframe, please contact
      our support team to request a new link.
    </p>
    <p>
      Once your password has been set, you can log in to the Nova Platinum
      Ticketing System to start managing your support cases.
    </p>
    <p>
      If you did not request this account or have any concerns, please contact
      Nova Platinum Support at your earliest convenience.
    </p>
    <p>Thank you for joining us,</p>
    <a href="mailto:nms_system_support@nova.gr">Nova Platinum Support Team</a>
  </body>
</html>
