<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Add styles if needed */
    </style>
  </head>
  <body>
    <p>Dear {{userName}},</p>
    <p>
      We are reaching out to inform you that Case
      <a
        href="{{webSiteUrl}}/ticket/{{ticketNumber}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ticketNumber}}
      </a>

      has been successfully resolved and is now closed. We appreciate the
      opportunity to assist you and trust that the solution provided has
      addressed your concerns.
    </p>
    <p>Issue: {{ticketSubject}}</p>
    <p>
      If you have any further questions or if additional issues arise, please do
      not hesitate to create a new one via the Nova Platinum Ticketing portal.
    </p>
    <p>
      Thank you for choosing Nova Platinum Support. We look forward to
      continuing to serve you.
    </p>
    <p>Warm regards,</p>
    <p>Nova Platinum Support Team</p>
  </body>
</html>
