<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Add styles if needed */
    </style>
  </head>
  <body>
    <p>Dear Team,</p>
    <p>
      Please be advised that Case
      <a
        href="{{webSiteUrl}}/ticket/{{ticketNumber}}"
        target="_blank"
        rel="noopener noreferrer"
        style="color: #14579f; font-size: 16px; font-weight: 600"
      >
        {{ticketNumber}}
      </a>
      has been escalated to
      <b>Level {{escalationLevel}}</b>, due to the critical nature of the
      customer’s issue. This case now requires your immediate attention and
      should be prioritized accordingly.
    </p>
    <p>
      Please review the details and contact the customer promptly to begin the
      resolution process.
    </p>
    <p>Customer Name: {{customerName}}</p>
    <p>Issue: {{ticketSubject}}</p>
    <p>Escalation Reason: <i>{{escalationComment}}</i></p>
    <p>
      The customer has been informed of the escalation and is awaiting prompt
      follow-up.
    </p>
    <p>
      Please prioritize this case and coordinate with any necessary resources to
      expedite the resolution.
    </p>
  </body>
</html>
