<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Add styles if needed */
    </style>
  </head>
  <body>
    <p>Dear User,</p>
    <p>
      Thank you for reaching out to Nova Platinum Support regarding your
      concerns. We understand the importance of your issue and have escalated
      Case
      <a
        href="{{webSiteUrl}}/ticket/{{ticketNumber}}"
        target="_blank"
        rel="noopener noreferrer"
        style="color: #14579f; font-size: 14px; font-weight: 500"
      >
        {{ticketNumber}}
      </a>
      to ensure it receives priority attention.
    </p>
    <p>
      Your case has now been escalated to Level {{escalationLevel}} and assigned
      to a Senior Support Engineer, who will review the details thoroughly and
      contact you at the earliest opportunity to work toward a swift resolution.
    </p>
    <p>Issue: {{ticketSubject}}</p>
    <p>
      Please be assured that we are committed to resolving your case with the
      urgency it deserves. Should you need further assistance, you may track
      updates or add information directly through the Nova Platinum Ticketing
      portal.
    </p>
    <p>
      Thank you for your patience and understanding as we work to address this
      matter.
    </p>

    <p>Sincerely,</p>
    <a href="mailto:{{signatureEmail}}">{{productNameTeam}}</a>
  </body>
</html>
