/* styles/globals.css */
@font-face {
  font-family: 'EncodeSans';
  src: url('/fonts/EncodeSans/EncodeSans-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans_Condensed_ExtraBold';
  src: url('/fonts/EncodeSans/EncodeSans-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'FrederickaTheGreat';
  src: url('/fonts/FrederickaTheGreat/FrederickatheGreat-Regular.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
  bottom: 48px !important;
}

/* For Firefox */
html {
  scrollbar-width: none;
  /* scrollbar-color: #ff0000 #f1f1f1; */
}

@layer components {
  .btn {
    animation: none !important;
  }

  .btn-primary:hover {
    @apply bg-gray-800 border-gray-800;
  }

  .btn-primary:disabled,
  .btn-primary[disabled] {
    @apply bg-gray-300 border-gray-300 text-gray-500 opacity-100;
  }

  .btn-secondary {
    @apply border-gray-300;
  }

  .btn-primary:hover svg {
    transform: translateX(4px);
  }

  .btn-primary svg {
    transition: transform 0.3s ease;
  }
}
/* Entire scrollbar */
/*
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

/* Track 
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*/
/* Handle
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 1px;
}

*/

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*/

/* Button at the ends 
::-webkit-scrollbar-button {
  background: #000;
  display: none;
}

*/

/* Bottom corner where two scrollbars meet 
::-webkit-scrollbar-corner {
  background: #000;
}

*/
