/* styles/globals.css */
@font-face {
  font-family: 'EncodeSans';
  src: url('/fonts/EncodeSans/EncodeSans-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans_Condensed_ExtraBold';
  src: url('/fonts/EncodeSans/EncodeSans-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'FrederickaTheGreat';
  src: url('/fonts/FrederickaTheGreat/FrederickatheGreat-Regular.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
  bottom: 48px !important;
}

/* For Firefox */
html {
  scrollbar-width: none;
  /* scrollbar-color: #ff0000 #f1f1f1; */
}

/* Entire scrollbar */
/*
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

/* Track 
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*/
/* Handle
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 1px;
}

*/

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*/

/* Button at the ends 
::-webkit-scrollbar-button {
  background: #000;
  display: none;
}

*/

/* Bottom corner where two scrollbars meet 
::-webkit-scrollbar-corner {
  background: #000;
}

*/
